@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.butn {
  position: relative;
  background-color: #fff;
  border: 1px solid #413f3e;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  font-family: GibsonLight, sans-serif;
  font-size: 1rem;
  line-height: 16px;
  padding: 1rem 1.3rem; 
  transition: background-color 0.3s ease;
  overflow: hidden; 
}
.butn:hover {
  background-color: #e1e3e5;
}

// .loading-icon {
//   position: absolute;
//   top: 54%; 
//   left: 50%; 
//   transform: translate(-50%, -50%);
// }

/* Animation */
// @keyframes pulse {
//   0% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   25% {
//     transform: scale(1.1);
//     opacity: 0.8;
//   }
//   50% {
//     transform: scale(1.2);
//     opacity: 0.6;
//   }
//   75% {
//     transform: scale(1.1);
//     opacity: 0.8;
//   }
//   100% {
//     transform: scale(1);
//     opacity: 1;
//   }
// }
